/* styles.css */
body {
    width: 550px; /* Adjust the width to accommodate 6 emojis per line */
    padding: 10px;
    background-color: #36393f;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    max-height: 400px; /* Maximum height to display */
  }
  
  .row-container {
    display: flex;
    justify-content: space-between;
    background-color: #26282c;
    border-radius: 7px;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
  }
  
  img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Add a smooth transition */
  }
  
  img:hover {
    opacity: 0.8;
    transform: scale(1.1); /* Slightly enlarge the emojis on hover */
  }
  
  
  /* Add styling for the scrollbars */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #2f3136;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #202225;
    border-radius: 4px;
  }
  
  /* Add hover effect to scrollbar thumb */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
